{% from "_includes/forms" import checkbox %}

{% if name is defined and name %}
	<input type="hidden" name="{{ name }}" value="">
{% endif -%}

{%- set name = (name is defined and name ? name~'[]' : null) %}

<div class="SimpleCategories">
	<ul>
		{% nav category in elements %}
			<li>
	      {{ checkbox({
	        label: category.title|t,
	        value: category.id,
	        name: name,
	        checked: (category.id in values)
	      }) }}
				{% ifchildren %}
					<ul>
						{% children %}
					</ul>
				{% endifchildren %}
			</li>
		{% endnav %}
	</ul>
</div>
